MONGO_URI=MONGODBURI
PAGE_URL=http://localhost:3000
JWT_SECRET=JWTSECRETKEY
apiKey=FIREBASE_KEYS
authDomain=FIREBASE_KEYS
projectId=FIREBASE_KEYS
storageBucket=FIREBASE_KEYS
messagingSenderId=FIREBASE_KEYS
appId=FIREBASE_KEYS